{% block new_footer %}

<footer class="footer">
    <div class="footer-container">
        <div class="footer-about">
            <h3>ICMBGSD 25</h3>
            <p>
                The conference focuses on marine biodiversity, genomics, and sustainable practices, bringing experts together to discuss conservation strategies, cutting-edge research, and innovative solutions for preserving marine ecosystems.
            </p>
        </div>
        <div class="footer-links">
            <h4>Useful Links</h4>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#speakers">Speakers</a></li>
                <li><a href="#themes">Themes</a></li>
                <li><a href="#guidelines">Guidelines</a></li>
                <li><a href="#dates">Important Dates</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h4>Contact Us</h4>
            <p>
                Dept.of Marine Biology Microbiology and Biochemistry,
School of Marine Sciences  <br>
Lakeside Campus <br>
Cochin University of Science and Technology <br>
Cochin, Kerala, India, 682 016<br>
            </p>
            <p>
                <strong>Phone:</strong> +91 8882197762<br />
                <strong>Email:</strong> <a href="mailto:icmbgsdcusat@gmail.com">icmbgsdcusat@gmail.com</a>
            </p>
        </div>
    </div>
    <br>
    <div class="footer-policy">
        <a href="/privacy" target="_blank">Privacy Policy</a> | 
        <a href="/terms" target="_blank">Terms and Conditions</a>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 ICMBGSD. All Rights Reserved.</p>
    </div>
    <div class="back-to-top">
        <a href="#top" title="Back to top">
            <i class="fa fa-arrow-up"></i>
        </a>
    </div>
</footer>

{% endblock new_footer %}