{% load static %}

{% block new_footer %}

<nav class="d-flex justify-content-center align-items-center"> 
    <div class="logo-container mx-5">
        <img src="{% static '\img\logos\logo.png'%}" alt="Icon" class="logo" />
        <span><b>ICMBGSD</b></span>
    </div>
    <div class="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="nav-links ">
        <a href="/#home">Home</a>
        <a href="/#about">About</a>
        <a href="/#speakers">Speakers</a>
        <a href="/#themes">Themes</a>
        <a href="/#guidelines">Guidelines</a>
        <a href="/#dates">Important Dates</a>
        <a href="/#registration">Registration</a>
        <a href="/#committee">Committee</a>
        <a href="/#accommodation">Accommodation</a>
        <a href="/#contact">Contact</a>
        <a class="btn btn-primary text-white" href="{% url 'register' %}">Register</a>
    </div>
</nav>

<div class="marquee">
    <div>
    <span>Registration Open Now!</span>
    <span>Abstract Submission is LIVE!</span>
    <span>Submit your abstract by February 28th</span>
    </div>
</div>



{% endblock new_footer %}