{% load static %}

{% block new_footer %}

<nav class="d-flex justify-content-center align-items-center">
    <div class="logo-container mx-5">
        <img src="{% static '\img\logos\logo.png'%}" alt="Icon" class="logo" />
        <span><b>ICMBGSD</b></span>
    </div>
    <div class="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="nav-links ">
        <a href="/#home">Home</a>
        <a href="/#about">About</a>
        <a href="/#speakers">Speakers</a>
        <a href="/#themes">Themes</a>
        <a href="/#guidelines">Guidelines</a>
        <a href="/#dates">Important Dates</a>
        <a href="/#registration">Registration</a>
        <a href="/#committee">Committee</a>
        <a href="/gallery">Gallery</a>
        <a href="/travel_grant">Travel Grant</a>
        <a href="/#accommodation">Accommodation</a>
        <a href="/#contact">Contact</a>
{#        <a class="btn btn-primary text-white" href="{% url 'register' %}">Register</a>#}
    </div>
</nav>

<div class="marquee">
{#<a href="{% url 'register' %}">#}
    <div class="remove-lag">
    <img src="{% static 'gif/new.gif' %}" alt="" width="20px">
    <span>CMBGSD '25 Concluded</span>
{#    <img src="{% static 'gif/new.gif' %}" alt="" width="20px">#}
{#    <span>Submit your abstract by 20th March 2025</span>#}
    <img src="{% static 'gif/new.gif' %}" alt="" width="20px">
    <span>Abstract Book Published</span>
    <img src="{% static 'gif/new.gif' %}" alt="" width="20px">
</div>
</a>
</div>



{% endblock new_footer %}
